<div [hidden]="! showMobileNav" class="position-relative">
    <nav class="nav-mobile card theme-bg-2 theme-color-1">
        <div class="card-body">
            <div class="nav-group">
                <a (click)="toggleShowMobileNav()" routerLink="/" [routerLinkActiveOptions]="{exact: true}"
                   routerLinkActive="nav-btn--active"
                   class="nav-btn theme-bg-2 theme-color-1 btn">
                        <i class="nav-btn--ico far fa-address-card"></i>
                        <span class="nav-btn--text">About</span>
                    </a>
            </div>

            <div class="nav-group">
                <a (click)="toggleShowMobileNav()" routerLink="/resume" routerLinkActive="nav-btn--active"
                   class="nav-btn theme-bg-2 theme-color-1 btn">
                    <i class="nav-btn--ico fa-regular fa-file-lines"></i>
                    <span class="nav-btn--text">Resume</span>
                </a>
            </div>

            <div class="nav-group">
                <a (click)="toggleShowMobileNav()" routerLink="/works" routerLinkActive="nav-btn--active"
                   class="nav-btn theme-bg-2 theme-color-1 btn">
                    <i class="nav-btn--ico fa-solid fa-briefcase"></i>
                    <span class="nav-btn--text">Works</span>
                </a>
            </div>

            <div class="nav-group">
                <a (click)="toggleShowMobileNav()" routerLink="/blogs" routerLinkActive="nav-btn--active"
                   class="nav-btn theme-bg-2 theme-color-1 btn">
                    <i class="nav-btn--ico fa-regular fa-newspaper"></i>
                    <span class="nav-btn--text">Blogs</span>
                </a>
            </div>

            <div class="nav-group">
                <a (click)="toggleShowMobileNav()" routerLink="/contact" routerLinkActive="nav-btn--active"
                   class="nav-btn theme-bg-2 theme-color-1 btn">
                    <i class="nav-btn--ico fa-solid fa-address-book"></i>
                    <span class="nav-btn--text">Contact</span>
                </a>
            </div>
        </div>
    </nav>
</div>
