<div class="card-body">
    <div class="content">
        <div>
            <h1 class="title">My skills</h1>
        </div>

        <div class="row">
            <div class="col">
                <div class="alert alert-warning border-0">
                    <i>Warning! The percentage doesn't necessarily mean how much I know about the technology, but
                        rather my level of confidence when working with it.</i>
                </div>
            </div>
        </div>

        <div class="row align-items-end">
            <div class="col-md-4 col-6">
                <div class="p-3 rounded-5 theme-bg-1">
                    <h5 class="text-center">
                        Java
                        <small class="text-black-50">|</small>
                        Spring boot
                        <small class="text-black-50">|</small>
                        Hibernate/JPA
                    </h5>

                    <div class="circle-progress" id="skill-java"></div>
                </div>
            </div>

            <div class="col-md-4 col-6">
                <div class="p-3 rounded-5 theme-bg-1">
                    <h5 class="text-center">
                        Tests
                        <small class="text-black-50">|</small>
                        JUnit
                        <small class="text-black-50">|</small>
                        Mockito
                    </h5>

                    <div class="circle-progress" id="skill-tests"></div>
                </div>
            </div>

            <div class="col-md-4 col-6">
                <div class="p-3 rounded-5 theme-bg-1">
                    <h5 class="text-center">
                        Spring Security
                        <small class="text-black-50">|</small>
                        SSO
                        <small class="text-black-50">|</small>
                        OAuth
                    </h5>

                    <div class="circle-progress" id="skill-auth"></div>
                </div>
            </div>

            <div class="col-md-4 col-6">
                <div class="p-3 rounded-5 theme-bg-1">
                    <h5 class="text-center">
                        Angular 17
                        <small class="text-black-50">|</small>
                        TypeScript
                        <small class="text-black-50">|</small>
                        jQuery
                    </h5>

                    <div class="circle-progress" id="skill-angular"></div>
                </div>
            </div>

            <div class="col-md-4 col-6">
                <div class="p-3 rounded-5 theme-bg-1">
                    <h5 class="text-center">
                        Bootstrap 4/5
                        <small class="text-black-50">|</small>
                        CSS 3 & SASS
                        <small class="text-black-50">|</small>
                        HTML 5
                    </h5>

                    <div class="circle-progress" id="skill-bootstrap"></div>
                </div>
            </div>

            <div class="col-md-4 col-6">
                <div class="p-3 rounded-5 theme-bg-1">
                    <h5 class="text-center">
                        Oracle
                        <small class="text-black-50">|</small>
                        MySQL
                        <small class="text-black-50">|</small>
                        SqlServer
                    </h5>

                    <div class="circle-progress" id="skill-db"></div>
                </div>
            </div>

            <div class="col-md-4 col-6">
                <div class="p-3 rounded-5 theme-bg-1">
                    <h5 class="text-center">
                        AWS
                        <small class="text-black-50">|</small>
                        S3
                        <small class="text-black-50">|</small>
                        Elastic search
                    </h5>

                    <div class="circle-progress" id="skill-server"></div>
                </div>
            </div>

            <div class="col-md-4 col-6">
                <div class="p-3 rounded-5 theme-bg-1">
                    <h5 class="text-center">
                        Design Pattern
                        <small class="text-black-50">|</small>
                        Scrum
                        <small class="text-black-50">|</small>
                        Git
                        <small class="text-black-50">|</small>
                        Jira
                    </h5>

                    <div class="circle-progress" id="skill-tools"></div>
                </div>
            </div>
        </div>
    </div>
</div>
