<div class="bg-page"></div>

<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div (click)="goTo('/')" class="logo d-flex align-items-center cursor-pointer">
                    <img class="logo--img" ngSrc="assets/images/logo-transparent.png" alt="Logo" height="650" width="650">
                    <h3 class="logo--text theme-color-1">Vinicius Pugliese</h3>
                </div>
            </div>

            <div class="col-6">
                <div class="text-end">
                    <a (click)="changeTheme()" class="config theme-bg-2 theme-color-1 btn btn-primary">
                        @if (theme === 'light') {
                            <i class="config--ico fa-regular fa-moon"></i>
                        } @else {
                            <i class="config--ico fa-regular fa-sun"></i>
                        }
                    </a>

                    <a (click)="toggleShowMobileNav()" class="btn config theme-bg-2 theme-color-1 btn btn-primary ms-2 d-sm-none">
                        <i class="config--ico fa-solid fa-bars"></i>
                    </a>
                </div>
            </div>
        </div>

        <app-nav-mobile/>
    </div>
</header>
