<div class="bg-page bg-page--light"></div>

<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="logo d-flex align-items-center">
                    <img class="logo--img" ngSrc="assets/images/logo-transparent.png" alt="Logo" height="650" width="650">
                    <h3 class="logo--text">Vinicius Pugliese</h3>
                </div>
            </div>

            <div class="col-6">
                <div class="text-end">
                    <a class="config btn btn-primary">
                        <i class="config--ico fa-sharp fa-regular fa-moon"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
