<div class="card-body">
    <div class="content">
        <div class="row">
            <div class="col">
                <h1 class="title">Portfolio</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 mt-5 d-inline-flex">
                <div class="card shadow">
                    <a href="#">
                        <img class="card-img-top" src="/assets/images/portfolio/portonet.png"
                             alt="Porto Seguro (Portonet)">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="https://portonet.portoseguro.com.br" target="_blank">
                                Porto Seguro (Portonet)
                            </a>
                        </h5>
                        <p class="card-text">
                            Desenvolvimento e implantação do PortoNet do Porto Seguro. O sistema contempla todo o
                            sistema de RH da empresa, controles internos, comunicados, etc.
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Out 2018 - Agora</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-5 d-inline-flex">
                <div class="card shadow">
                    <a href="#">
                        <img class="card-img-top" src="/assets/images/portfolio/sts.png"
                             alt="Sistema de Tags do Santander">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="https://sts.midia.zone" target="_blank">
                                Sistema de Tags do Santander
                            </a>
                        </h5>
                        <p class="card-text">
                            O Sistame de Tags do Santander (STS) serve para controle interno dos gastos com
                            campanhas (internas e externas / online e offline) de todos os setores do Santander, que
                            em seguida, alimenta os Dashs de BI do mesmo.
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Mar 2018 - Ago 2018</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 mt-5 d-inline-flex">
                <div class="card shadow">
                    <a href="#">
                        <img class="card-img-top" src="/assets/images/portfolio/oab-praia-grande.png"
                             alt="OAB Praia Grande">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="http://www.oabpraiagrande.org.br/" target="_blank">
                                OAB Praia Grande
                            </a>
                        </h5>
                        <p class="card-text">
                            A Ordem dos Advogados do Brasil (OAB) é o órgão máximo que define as regras para o
                            exercício profissional da advocacia no Brasil.
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Ago 2017 - Dez 2017</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-5 d-inline-flex">
                <div class="card shadow">
                    <a href="#">
                        <img class="card-img-top" src="/assets/images/portfolio/saude-integrada-online.png"
                             alt="Saúde Integrada Online">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="http://saudeintegradaonline.com.br" target="_blank">
                                Saúde Integrada Online
                            </a>
                        </h5>
                        <p class="card-text">
                            Desde 2006 a Saúde Integrada trabalha para mudar a vida dos seus clientes com base
                            da disseminação de conhecimento e atendimento clínico em Fisioterapia e Acupuntura
                            na sua sede localizada na cidade de Santos.
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Ago 2016 - Dez 2016</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 mt-5 d-inline-flex">
                <div class="card shadow">
                    <a href="#">
                        <img class="card-img-top" src="/assets/images/portfolio/grupo-npo.png" alt="Grupo NPO">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="https://gruponpo.com.br" target="_blank">
                                Grupo NPO
                            </a>
                        </h5>
                        <p class="card-text">
                            O Grupo possibilita uma movimentação do mercado de trabalho com a contratação de
                            aproximadamente 7.000 pessoas por ano entre temporários, terceirizados e efetivos. Além
                            disso, com o desenvolvimento de treinamentos, possibilita a capacitação e qualificação
                            profissional da população da nossa Região e de todo o País, atuando com ética,
                            transparência e comprometimento.
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Out 2017 - Fev 2018</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-5 d-inline-flex">
                <div class="card shadow">
                    <a href="#">
                        <img class="card-img-top" src="/assets/images/portfolio/aponte-vagas.png"
                             alt="Aponte Vagas">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="https://apontevagas.com.br" target="_blank">
                                Aponte Vagas
                            </a>
                        </h5>
                        <p class="card-text">
                            Aponte Vagas é um site que busca integrar empresas e pessoas na divulgação e
                            conquista de oportunidades no mercado de trabalho.
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Ago 2016 - Dez 2016</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-lg-6 mt-5 d-inline-flex">
                <div class="card shadow">
                    <a href="#">
                        <img class="card-img-top" src="/assets/images/portfolio/responde.png" alt="Responde">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="http://responde.com.br" target="_blank">
                                Responde
                            </a>
                        </h5>
                        <p class="card-text">
                            O Responde faz o meio campo entre cliente e o consultor. Onde disponibiliza em sua
                            plataforma diversas áreas de atuação para clientes obterem maior facilidade de acesso a
                            um consultor da especialidade escolhida.
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Set 2017 - Nov 2017</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-5 d-inline-flex">
                <div class="card shadow">
                    <a href="#">
                        <img class="card-img-top" src="/assets/images/portfolio/theme-adminator.png"
                             alt="Theme Adminator">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="https://viniciuspugliesi.github.io/preview-theme-adminator" target="_blank">
                                Theme Adminator
                            </a>
                        </h5>
                        <p class="card-text">
                            Template administrativo desenvolvido com Angular 7 e Bootstrap 4 para comercialização.
                            O template está integra com diversas bibliotecas, incluíndo gráficos do ChartJS,
                            Font Awesome, etc.
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Jan 2019 - Abr 2019</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
