<div class="card-body">
    <div class="content">
        <div>
            <h1 class="title">About me</h1>

            <p>Hi, I'm Vinicius, an IT enthusiast passionate about clean and organized code.</p>
            <p>
                I don't live in a permanent residence, I like living the life and enjoying the best things that the world
                has to offer.
            </p>
            <p>At the moment, I'm looking to improve my knowledge of English and start an international career</p>
        </div>

        <div class="mt-5">
            <h2 class="subtitle">What I do!</h2>

            <p>I'm Software Engineer with 8+ years experience with Java and Angular.</p>
            <p>I have a degree in Analysis and Systems Development at the Fatec Praia Grande.</p>
            <p>I've worked at the Porto Seguro SA since October 2018. </p>
        </div>
    </div>
</div>
