<div class="d-none d-md-block">
    <div class="row justify-content-end mb-4">
        <div class="col-xxl-8 col-xl-9">
            <div class="card theme-bg-1 theme-color-1">
                <div class="card-body">
                    <nav class="nav d-flex justify-content-center">
                        <div class="nav-group btn-group" role="group" aria-label="Basic outlined example">
                            <a routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="nav-btn--active" class="nav-btn theme-bg-2 theme-color-1 btn mx-2">
                                <i class="nav-btn--ico far fa-address-card"></i>
                                <span class="nav-btn--text">About</span>
                            </a>

                            <a routerLink="/resume" routerLinkActive="nav-btn--active" class="nav-btn theme-bg-2 theme-color-1 btn mx-2">
                                <i class="nav-btn--ico fa-regular fa-file-lines"></i>
                                <span class="nav-btn--text">Resume</span>
                            </a>

                            <a routerLink="/works" routerLinkActive="nav-btn--active" class="nav-btn theme-bg-2 theme-color-1 btn mx-2">
                                <i class="nav-btn--ico fa-solid fa-briefcase"></i>
                                <span class="nav-btn--text">Works</span>
                            </a>

                            <a routerLink="/blogs" routerLinkActive="nav-btn--active" class="nav-btn theme-bg-2 theme-color-1 btn mx-2">
                                <i class="nav-btn--ico fa-regular fa-newspaper"></i>
                                <span class="nav-btn--text">Blogs</span>
                            </a>

                            <a routerLink="/contact" routerLinkActive="nav-btn--active" class="nav-btn theme-bg-2 theme-color-1 btn mx-2">
                                <i class="nav-btn--ico fa-solid fa-address-book"></i>
                                <span class="nav-btn--text">Contact</span>
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
