$first: #e633b6;
$second: #ffd48b;
$third: #a8a7f2;

$primary: #e633b6;
$secondary: #f3f6f6;


$theme-bg-light-1: #ffffff;
$theme-bg-light-2: #f3f6f6;
$theme-color-light-1: #000000;
$theme-color-light-2: #999999;

$theme-bg-dark-1: #1a1a1a;
$theme-bg-dark-2: #333333;
$theme-color-dark-1: #cccccc;
$theme-color-dark-2: #eeeeee;


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&display=swap');
@import 'bootstrap/scss/bootstrap';

@import "scss/index";
