.content {
    padding: 20px 20px 0 40px;

    .title {
        position: relative;
        display: inline-block;
        margin-bottom: 25px;

        &:after {
            content: "";
            position: absolute;
            width: 200px;
            height: 3px;
            background: linear-gradient(97deg, $third 0%, $primary 100%);
            left: 122%;
            top: 50%;
            transform: translatey(-50%);
            border-radius: 5px;
            margin-bottom: 30px;
        }
    }

    .subtitle {
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
        color: $gray-600;
    }
}

@include media-breakpoint-down(sm)  {
    padding: 0;
}
