.main {
    .card {
        border-radius: 20px;
        border: none;

        .card-body {
            padding: 40px 30px;
        }
    }
}

@include media-breakpoint-down(sm) {
    .card {
        .card-body {
            padding: 20px;
        }
    }
}
