.main {
    .card {
        border-radius: 20px;
        border: none;
        box-shadow: $box-shadow-sm;

        &.card-content {
            clip-path: border-box;
            min-height: 630px;
        }
    }
}

.cursor-pointer {
    cursor: pointer;
}
