.nav {
    .nav-group {
        .nav-btn {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 20px;
            border: none;
            border-radius: 20px !important;

            &.nav-btn--active, &:hover {
                background: $primary;
                color: $white;
                animation: pulse;
                animation-duration: 2s;
                --animate-repeat: infinite; // TODO - check how can I do it
            }

            .nav-btn--ico {
                font-size: 25px;
            }

            .nav-btn--text {
                padding-top: 3px;
                font-size: 16px;
            }
        }
    }
}
