.profile {
    .profile-photo {
        position: relative;
        width: 240px;
        height: 240px;
        margin: -120px auto 0 auto;
        border-radius: 20px;
        clip-path: border-box;

        .profile-photo--img {
            width: 100%;
            height: 100%;
        }
    }

    .profile-occupation {
        margin-top: 20px;

        .profile-occupation-badge {
            font-size: 16px;
            font-weight: 400;
            padding: 10px 10px;
        }
    }

    .profile-social-media {
        margin-top: 20px;

        .profile-social-media-btn {
            padding: 10px 15px;
            border-radius: 10px !important;
            transition: none;

            &:hover {
                background: $third;
                color: $white;
                animation: pulse;
                animation-duration: 2s;
            }

            .profile-social-media-btn--ico {
                font-size: 18px;
            }
        }
    }

    .profile-info {
        margin-top: 35px;

        .card-body {
            padding: 40px 10px;
        }

        .profile-info-item {
            padding: 10px 0;
            display: flex;

            &:not(:first-child) {
                border-top: 1px solid #e3e3e3;
            }

            .profile-info-item-ico {
                min-width: 40px;
                max-width: 40px;
                text-align: center;
                padding: 10px 10px;
                margin: 5px 10px 5px 5px;
                border: none;
                border-radius: 10px !important;
                box-shadow: $box-shadow-sm;
                cursor: auto;
                font-size: 20px;
            }
        }
    }
}

.isMobile {
    .grid-profile {
        display: none;
    }

    &:not(.isAboutRoute) {
        .profile {
            .profile-photo {
                margin-top: 0;
            }
        }
    }
}

.isMobile.isAboutRoute .grid-profile {
    display: block;
}


.profile-cv {
    margin-top: 40px;
    text-align: center;

    .profile-cv-btn {
        padding: 15px 35px;
        color: $white;
        border-radius: 30px;
        font-size: 20px;

        .profile-cv-btn--ico {
            margin-right: 15px;
        }
    }
}
