.page-theme-light {
    .bg-page {
        transition: background 1.5s;
        background-image: url('../assets/images/background-page--light.jpg');
    }

    .theme-bg-1 {
        transition: background 1s;
        background: $theme-bg-light-1;
    }

    .theme-bg-2 {
        transition: background 1s;
        background: $theme-bg-light-2;
    }

    .theme-color-1 {
        transition: background 1s;
        color: $theme-color-light-1;
    }

    .theme-color-2 {
        transition: background 1s;
        color: $theme-color-light-2;
    }
}

.page-theme-dark {
    .bg-page {
        transition: background 1.5s;
        background-image: url('../assets/images/background-page--dark.jpg');
    }

    .theme-bg-1 {
        transition: background 1s;
        background: $theme-bg-dark-1;
    }

    .theme-bg-2 {
        transition: background 1s;
        background: $theme-bg-dark-2;
    }

    .theme-color-1 {
        transition: background 1s;
        color: $theme-color-dark-1;
    }

    .theme-color-2 {
        transition: background 1s;
        color: $theme-color-dark-2;
    }
}

.bg-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.bg-theme-first {
    transition: background 1s;
    background: $first;
    color: $white;
}

.bg-theme-second {
    transition: background 1s;
    background: $second;
    color: $white;
}

.bg-theme-third {
    transition: background 1s;
    background: $third;
    color: $white;
}
