<div class="card">
    <div class="card-body">
        <section class="perfil">
            <div class="perfil-photo">
                <img class="perfil-photo--img" ngSrc="assets/images/perfil-photo.jpg" alt="Perfil" fill priority>
            </div>

            <div class="mt-4 text-center">
                <div class="perfil-name">
                    <h4>Vinicius Pugliese</h4>
                </div>

                <div class="perfil-occupation">
                    <span class="perfil-occupation-badge badge">
                        Senior Software Engineer
                    </span>
                </div>

                <div class="perfil-social-media">
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <a class="perfil-social-media-btn btn btn-primary mx-2">
                            <i class="perfil-social-media-btn--ico fab fa-linkedin-in"></i>
                        </a>

                        <a class="perfil-social-media-btn btn btn-primary mx-2">
                            <i class="perfil-social-media-btn--ico fab fa-github"></i>
                        </a>

                        <a class="perfil-social-media-btn btn btn-primary mx-2">
                            <i class="perfil-social-media-btn--ico fab fa-instagram"></i>
                        </a>

                        <a class="perfil-social-media-btn btn btn-primary mx-2">
                            <i class="perfil-social-media-btn--ico fab fa-facebook"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="perfil-info card">
                <div class="card-body">
                    <div class="perfil-info-item">
                        <div>
                            <i class="perfil-info-item-ico fa-solid fa-mobile-screen-button"></i>
                        </div>
                        <div>
                            <div class="text-black-50">Phone</div>
                            <div>+55 (13) 99204-0605</div>
                        </div>
                    </div>

                    <div class="perfil-info-item">
                        <div>
                            <i class="perfil-info-item-ico fa-regular fa-envelope"></i>
                        </div>
                        <div>
                            <div class="text-black-50">Email</div>
                            <div [innerHTML]="'vinicius.lima.pugliese@gmail.com'"></div>
                        </div>
                    </div>

                    <div class="perfil-info-item">
                        <div>
                            <i class="perfil-info-item-ico fa-solid fa-location-dot"></i>
                        </div>
                        <div>
                            <div class="text-black-50">Location</div>
                            <div>São Paulo, Brazil</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="perfil-cv">
                <a href="" class="perfil-cv-btn btn btn-primary">
                    <i class="perfil-cv-btn--ico fas fa-download"></i>
                    <span>Download CV</span>
                </a>
            </div>
        </section>
    </div>
</div>
